/*-------------------------------------------------------------------------------------------*/
/*                                    GENERALES                                              */
/*-------------------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

:root {
  --main-height: 500vh;
  --cabeceraTitulo-top: 30vh;
  --cabeceraSubtitulo-top: 50vh;
  --nosotros-top: 300vh;
  --nosotros-paddingBotton: 360px;
  --footer-top: -50px;

}

body {
  margin: 0;
  font-size: 16px;
  /* background-color: #000000; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #5a5a5a;
}

/*-------------------------------------------------------------------------------------------*/
/*                                  PRELOADER                                                */
/*-------------------------------------------------------------------------------------------*/

/* Estilos del Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a1a1a;
  /* Fondo oscuro */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20%;
  z-index: 9999;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
  color: #ffffff;
}

/* Ocultar el preloader */
.preloader.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Animación de carga */
.loader {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.guia-logo {

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: content;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  gap: 2vh;
}

.guia-logo-A {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-basis: 80%;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 3%;
}

.img-logo {
  width: 1px;
  flex-basis: 30%;
  /* Cada imagen ocupa el 20% del contenedor */
  flex-grow: 0;
  flex-shrink: 1;
  object-fit: contain;
}

.nombre-nit {
  font-size: 200%;
  letter-spacing: 2vw;
  flex-basis: content;
  flex-grow: 0;
  flex-shrink: 1;
}

.nombre-works {
  font-size: 50%;


}

.guia-logo-C {
  flex-basis: content;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: 100%;
  letter-spacing: 0.6vw;
  word-spacing: 0.8vw;


}

/*-------------------------------------------------------------------------------------------*/
/*                                      NAVEGADOR                                            */
/*-------------------------------------------------------------------------------------------*/

header {
  top: 0;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 200;
}

.navbar {
  height: 70px;
  display: flex;
  position: relative;
  padding: 0 1% 0 1%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.603), rgb(255, 255, 255));
}

.logo-nav {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-nav img {
  width: 45px;
  height: auto;
  margin: 0.5em;
  animation: giro-3d 5s infinite linear, movimiento 2s infinite alternate;
  /* Animaciones continuas */
  transform-style: preserve-3d;
  /* Mantiene el efecto 3D */
  transition: transform 0.3s;
  /* Transición suave */
}

@keyframes giro-3d {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}


.nombre-empresa div {
  line-height: 0.9;
}

.nombre-empresa div:first-child {
  font-size: 160%;
  font-weight: bold;
  color: #2b1364;
}

.nombre-empresa div:last-child {
  font-size: 100%;
  color: rgba(43, 19, 100, 0.9);
  font-weight: bold;
}

.highlight {
  color: #dad9d9;
  text-shadow:
    0 0 15px rgba(102, 88, 234, 1),
    /* Sombra más intensa y brillante */
    0 0 30px rgba(102, 88, 234, 0.8),
    /* Sombra difusa más amplia */
    0 0 60px rgba(102, 88, 234, 0.5);
  /* Resplandor adicional */
}

/*----------------------------------------------------------------------------------------------------------------------------------*/

.nav-links {
  padding-right: 1%;
  position: relative;
  display: flex;
  flex: 1.4;
  justify-content: flex-end;
  align-items: center;
  gap: 6%;
}

/* 
.nav-links > a {
  text-decoration: none;
  color: #2b1364;
  font-size: 120%;
  font-weight: bold;
  transition: color 0.4s ease;
} */

.boton {
  max-width: 160px;
  text-decoration: none;
  color: #2b1364;
  cursor: pointer;
  display: block;
  font-size: 80%;
  font-weight: bold;
  line-height: 45px;
  padding: 0 2em;
  position: relative;
  border-radius: 50px;
  /* box-shadow: inset 0 0 20px rgba(255, 255, 255, 0); */
  box-shadow: inset 0 0 20px rgba(87, 87, 87, 0.15), 0 0 20px rgba(87, 87, 87, 0.1);
  outline-offset: 0px;
  outline: 1px solid transparent;
  /* Se agrega un outline inicial invisible */
  text-shadow: none;
  transition: all 1600ms cubic-bezier(0.19, 1, 0.22, 1);
  transition:
    box-shadow 0.1s linear,
    outline-offset 0.5s linear,
    outline-color 0.5s linear,
    border-radius 0.5s linear;
}

.boton:hover {
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgba(87, 87, 87, 0.3), 0 0 20px rgba(87, 87, 87, 0.1);
  text-shadow: 1px 1px 2px #8d8d8d;
  outline-offset: 4px;
  outline-color: rgba(87, 87, 87, 0.5);
}

/*----------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------*/

.hamburger {
  padding-right: 4%;
  position: relative;
  display: none;
  flex-direction: column;
  flex: 0;
  justify-content: center;
  align-items: end;
}

.bar {
  display: block;
  background-color: #fff;
  width: 24px;
  height: 2px;
  margin: 4px;
  transition: all 300ms ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* .nav-links.active {
  left: 0;
} */


/*-------------------------------------------------------------------------------------------*/
/*                                    CONTENIDO                                              */
/*-------------------------------------------------------------------------------------------*/

main {
  top: 0;
  width: 100%;
  height: var(--main-height);
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(45deg, rgb(3, 17, 43), rgb(21, 12, 56), rgb(39, 7, 69));
  z-index: 2;
}

.seccion-titulo {
  width: auto;
  display: flex;
  padding: 20px;
  align-items: center;
  font-family: 'Playfair Display', serif;
  font-size: 3vw;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-line: 20px;
  font-weight: 100;
  letter-spacing: 15px;
  color: #fff;
  text-shadow: -1px 0 #243d7c, 0 3px #243d7c, 3px 0 #243d7c, 0 -1px #243d7c;
}

/*-------------------------------------------------------------------------------------------*/
/*                                    CABECERA                                              */
/*-------------------------------------------------------------------------------------------*/

.cabecera-titulo {
  top: var(--cabeceraTitulo-top);
  padding: 20px 50px;
  /*  padding-left: 20px;
  padding-right: 20px; */
  position: absolute;
  align-self: center;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s ease, transform 0.5s ease;
  font-size: 3.2vw;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.15em;
  text-shadow:
    -2px -1px 0 #243d7c,
    0px 1px 1px #233d4b,
    1px 2px 1px #26384f,
    2px 3px 1px #2e4060,
    3px 4px 1px #3a4f77,
    4px 5px 1px #4a5f8f,
    5px 6px 1px #5a6ea7,
    6px 7px 1px #6d7cbf,
    7px 8px 1px #767676;
  line-height: 2;
  z-index: 100;
}

.cabecera-subtitulo {
  top: calc(var(--cabeceraSubtitulo-top) - 5vh);
  padding: 30px 50px;
  position: absolute;
  align-self: center;
  opacity: 10;
  transform: scale(1);
  transition: opacity 1s ease, transform 1s ease;
  font-size: 2vw;
  letter-spacing: 0.15em;
  line-height: 1.8;
  text-align: center;
  color: #ffffff;
  z-index: 100;
}

section {
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  opacity: 1;
  transform: scale(1);
}

.desactivado {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/*-------------------------------------------------------------------------------------------*/
/*                                    SERVICIOS                                              */
/*-------------------------------------------------------------------------------------------*/

.franja-blanca {

  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 50;
  clip-path: polygon(0 27%, 100% 20%, 100% 95%, 0 100%);
  background: linear-gradient(-4deg, rgba(8, 185, 255, 0.26), rgb(200, 200, 200), rgb(200, 200, 200));
}

.servicios {
  top: 100vh;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
}

.card-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: nowrap;
  gap: 3%;
  justify-content: space-evenly;
  align-items: stretch;
}

.card {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 60%;

  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid #2860c2;
  box-shadow:
    0 0 2px rgba(102, 88, 234, 1),
    /* Sombra más intensa y brillante */
    0 0 10px rgba(102, 88, 234, 0.8),
    /* Sombra difusa más amplia */
    0 0 30px rgba(102, 88, 234, 0.5);
  /* Resplandor adicional */
  transition: transform 0.3s ease;
  z-index: 100;
}

.top-card {
  background-color: #243d7c;
  border-radius: 5px 5px 0px 0px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  padding: 1.5rem;
}

.card h2 {
  font-size: 1.7vw;
  color: #ffffff;
  text-align: center;
}

.card p {
  font-size: 1.1vw;
  color: #666666;
  text-align: left;
}

.card:hover {
  transform: scale(1.05);
}

.leer-mas-btn {
  width: 40%;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(0, 46, 96, 1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.leer-mas-btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.leer-mas-btn:before,
.leer-mas-btn:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(61, 126, 251, 1);
  transition: all 0.3s ease;
}

.leer-mas-btn:before {
  height: 0%;
  width: 2px;
}

.leer-mas-btn:after {
  width: 0%;
  height: 2px;
}

.leer-mas-btn:hover {
  background: transparent;
  box-shadow: none;
}

.leer-mas-btn:hover:before {
  height: 100%;
}

.leer-mas-btn:hover:after {
  width: 100%;
}

.leer-mas-btn span:hover {
  color: rgba(2, 126, 251, 1);
}

.leer-mas-btn span:before,
.leer-mas-btn span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.leer-mas-btn span:before {
  width: 2px;
  height: 0%;
}

.leer-mas-btn span:after {
  width: 0%;
  height: 2px;
}

.leer-mas-btn span:hover:before {
  height: 100%;
}

.leer-mas-btn span:hover:after {
  width: 100%;
}

.precio {
  margin: 16px;
  color: #1bc8e3;
  text-align: center;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  max-height: 85%;
  position: relative;
  border: 3px solid #2860c2;
  box-shadow:
    0 0 2px rgba(102, 88, 234, 1),
    /* Sombra más intensa y brillante */
    0 0 10px rgba(102, 88, 234, 0.8),
    /* Sombra difusa más amplia */
    0 0 30px rgba(102, 88, 234, 0.5);
  /* Resplandor adicional */
  overflow-y: auto;
  /*scroll vertical */
  scrollbar-width: none;
  /* Ocultar barra de scroll en Firefox */
  -ms-overflow-style: none;
  /* Ocultar barra de scroll en IE/Edge */
}

.popup-content .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

#popup-details {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: center;
}

/*-------------------------------------------------------------------------------------------*/
/*                                  NOSOTROS                                                 */
/*-------------------------------------------------------------------------------------------*/

.nosotros {
  top: var(--nosotros-top);
  width: 100%;
  height: auto;
  position: absolute;
  padding-top: 60px;
  padding-bottom: var(--nosotros-paddingBotton);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 90;
}

.linea_tiempo {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

.linea_tiempo ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.linea_tiempo ul li {
  width: 50%;
  padding: 20px 40px;
}

.linea_tiempo ul li:nth-child(odd) {
  float: left;
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.linea_tiempo ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.nosotros_lt h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.3;
  color: #ffffff;
}

.nosotros_lt p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1vw;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: #f3eeee;
  margin-bottom: 16px;
  text-align: justify;
}

.img_nosotros {
  width: 30vw;
}


/*-------------------------------------------------------------------------------------------*/
/*                                    FOOTER                                                 */
/*-------------------------------------------------------------------------------------------*/

.footer {
  top: var(--footer-top);
  width: auto;
  position: absolute;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #fff;
  z-index: 999;
}

.contacto {
  width: auto;
  margin-top: 30px;
  font-size: 1.8vw;
}

.disclaimer {
  bottom: 0;
  width: auto;
  margin-top: 80px;
  align-self: center;

}

.whatsapp-icono {
  width: 6vw;
  position: fixed;
  bottom: 6vh;
  right: 3vw;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease;
}

.whatsapp-icono:hover {
  transform: scale(1.2);
}

/*-------------------------------------------------------------------------------------------*/
/*                                   MEDIA QUERY                                             */
/*-------------------------------------------------------------------------------------------*/

@media (max-width: 1200px) {

  .card {
    width: 45%;
  }

  .card h2 {
    font-size: 2.5vw;
  }

  .card p {
    font-size: 2vw;
  }

}

@media (max-width: 800px) {

  .nombre-empresa div:first-child {
    font-size: 120%;
  }
  
  .nombre-empresa div:last-child {
    font-size: 80%;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    height: 200px;
    padding: 2%;
    position: absolute;
    top: 70px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.603));
  }

  .hamburger {
    display: flex;
  }

  .seccion-titulo {
    font-size: 5vw;
  }

  .cabecera-titulo {
    font-size: 3.8vw;
  }

  .cabecera-subtitulo {
    font-size: 3vw;
  }

  .franja-blanca {
    display: none;
  }

  .card-container {
    flex-direction: column;
  }

  .card {
    width: 100%;
    min-height: 300px;
    margin-bottom: 10%;
  }

  .nosotros_lt h2 {
    font-size: 4vw;
  }

  .nosotros_lt p {
    font-size: 2.5vw;
  }

  .linea_tiempo:before {
    left: 5%;
  }

  .linea_tiempo ul li {
    width: 100%;
  }

  .linea_tiempo ul li:nth-child(odd) {
    float: right;
    text-align: left;
    left: 5%;
  }

  .linea_tiempo ul li:nth-child(even) {
    float: right;
    text-align: left;
    left: 5%;
  }

  .linea_tiempo ul li:nth-child(odd)::before {
    left: -10px;
  }

  .linea_tiempo ul li:nth-child(odd)::after {
    left: 25px;
    border-width: 10px 15px 10px 0px;
    border-color: transparent #6658ea transparent transparent;
  }

  .img_nosotros {
    width: 70vw;
  }

  .contacto {
    font-size: 4.6vw;
  }

  .disclaimer {
    font-size: 3vw;
  }

  .whatsapp-icono {
    width: 10vw;
  }
}

@media (max-width: 800px) and (max-height: 600px) {

  .seccion-titulo {
    font-size: 4vw;
  }

  .cabecera-titulo {
    font-size: 3.5vw;
    line-height: 1.4;
  }

  .cabecera-subtitulo {
    font-size: 2vw;
    line-height: 1.2;
  }
}